<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsw.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.zsw.model.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="blog" jdbcType="VARCHAR" property="blog" />
        <result column="age" jdbcType="BIGINT" property="age" />
    </resultMap>
    <sql id="sql1">
        id,name,age,address,phone,email,blog
    </sql>


    <insert id="addUser" parameterType="com.zsw.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (name,address,phone,email,blog,age) values (#{name},#{address},#{phone},#{email},#{blog},#{age});
    </insert>

    <update id="updateUser" parameterType="com.zsw.model.User">
        update user set name=#{name},address=#{address},phone=#{phone},email=#{email},blog=#{blog},age=#{age} where user.id= #{id};
    </update>

    <delete id="delete" parameterType="int">
        delete  from user where user.id=#{id}
    </delete>

    <select id="get" resultType="com.zsw.model.User">
        select <include refid="sql1"></include>
        from user
    </select>

</mapper>